<div class="container">

  <div class="card">
    <div class="card_board_name">
      <%= link_to @task.board_name, board_path(@task.board_id) %>
    </div>
    <div class="card_head">
      <div class="card_head_title">
        <%= @task.title %>
      </div>
      <div class="board_name_menu">
        <div class="dropdown">
          <%= image_tag 'CombinedShape.png' %>
          <div class="dropdown-content mini">
            <%= link_to 'Edit', edit_board_task_path(@task.board_id,@task) %>
            <%= link_to 'Delete', board_task_path(@task), method: :delete  %>
          </div>
        </div>
      </div>
    </div>

    <div class="card_description">
      <%= @task.content %>
    </div>
  </div>

  <div class="comment">
    <h2 class="comment_title">Comments</h2>
    <% @comments.each do |comment| %>
      <%= link_to edit_board_task_comment_path(@task.board_id, @task, comment) do %>
        <div class="comment_sec">
          <div class="comment_sec_image">
            <%= image_tag comment.user.avatar_image %>
          </div>
          <div class="comment_sec_content">
            <%= comment.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="comment_new">
      <%= link_to '+ Add new comment', new_board_task_comment_path(@task.board_id, @task) %>
  </div>
</div>