<h1>todo_app!!</h1>

<% if user_signed_in? %>
  <div class="dropdown">
    <%= "ログインしてます => #{current_user.email}" %>
  </div>
<% end %>

<div>
  <%= link_to 'login', new_user_session_path %>
</div>
<div>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</div>
<div>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
</div>

<div class="container">
  <div class="boards_head">
    <div class="boards_head_title">Boards</div>
    <div class="boards_head_image">
      <%= image_tag 'user2.png' %>
    </div>
  </div>
  <div class="boards">
    <div class="boards_title">All Boards</div>
    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="board">
          <div class="board_name">
            <div class="board_name_title">
              <%= board.name %>
            </div>
            <div class="board_name_menu">
              <%= image_tag 'CombinedShape.png' %>
            </div>
          </div>
          <div class="board_description">
            <%= board.description %>
          </div>
          <div class="board_image">
            <%= image_tag 'user2.png' %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="boards_new">
      <%= link_to '+ Add new board', new_board_path %>
    </div>
  </div>
</div>