<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="header_logos">
          <div class="boards_head_title">Boards</div>
          <% if user_signed_in? %>
            <div class="dropdown dropdown_header">
              <%= image_tag current_user.avatar_image %>
              <div class="dropdown-content mini">
                <%= link_to 'Profile', profile_path %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
              </div>
            </div>
          <% else %>
            <%= link_to 'login', new_user_session_path %>
          <% end %>
        </div>
      </header>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
